layout python3

export FLASK_APP=now_spinning
export FLASK_ENV=development

export MEDIA_FOLDER="/Users/svet/Google Drive/Music/now_spinning_data/images"
export TRACK_METADATA="/Users/svet/Google Drive/Music/now_spinning_data/records.json"