<html>
    <head>
        <meta http-equiv="refresh" content="5">
        <title>Now Spinning</title>
    </head>
    <body>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <h1>Welcome to Now Spinning!</h1>
    <p>Oops..... It seems like you have not imported any track information. Use the form below.</p>

    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>    </body>
</html>
