<html>
    <head>
        <meta http-equiv="refresh" content="5">
        <title>Now Spinning</title>
    </head>
    <body>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Frame Size - 2400 x 250 -->
        <div class="ArtworkImage">
            {% if image_location %}
                <img src="http://localhost:5000/api/v1/static/{{ image_location }}" alt=”Artwork” width="250" height="250" style="padding-left: 15px; padding-top: 15px; float:left;">
            {% else %}
                <img src="{{ url_for('static', filename='default.png') }}" alt=”No_Artwork_Available” width="250" height="250" style="padding-left: 15px; padding-top: 15px; float:left;">
            {% endif %}
        </div>

        <div class="Title" style="padding-left: 35px; padding-top: 4px; float:left;">
            <h1 style="font-family:Orbitron;font-size:42px;font-style:Bold;">{{ title }}</h1>
            <h2 style="font-family:Orbitron;font-size:34px;font-style:Normal;padding-top:10px;">{{ artist }}</h2>
            <h2 style="font-family:Orbitron;font-size:34px;font-style:Normal;padding-top:10px;">{{ year if year else ""}}</h2>
        </div>
    </body>
</html>