<html>
    <head>
        <title>Now Spinning</title>
            <style>
                .Track {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                }
                .Meta {
                    align-items: left;
                    font-family: Orbitron;
                    padding-left: 20px;
                }
                .h1 {
                    font-size:40px;
                }

                .h2 {
                    font-size:30px;
                }

        </style>
    </head>
    <body>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!--        <input type="text" placeholder="Search.."><br><p></p>-->
        {% for track in tracks %}
            <div class="Track">
                <div class="Image">
                {% if track.image_location %}
                   <img src="http://localhost:5000/api/v1/static/{{ track.image_location }}" alt=”Artwork” width="150" height="150" > <!-- style="padding-left: 15px; padding-top: 15px;"-->
                {% else %}
                    <img src="{{ url_for('static', filename='default.png') }}" alt=”No_Artwork_Available” width="150" height="150"> <!-- style="padding-left: 15px; padding-top: 15px;">-->
                {% endif %}
                </div>
                <div class="Meta">
                    <h1>{{ track.title }}</h1>
                    <h2>{{ track.artist }}</h2>
                    <h2>{{ track.year if track.year else ""}}</h2>
                </div>
            </div>
        {% endfor %}
    </body>
</html>